@model List<Beer>

    <h1>Cerbezas</h1>

    <p>
        <a class="btn btn-success" asp-action="Create">
            Crear
        </a>
    </p>

<table class="table">
    <thead class="thead-dark">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Marca
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var beer in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(m=>beer.Name)
                </td>
                <td>
                    @Html.DisplayFor(m=>beer.Brand.Name)
                </td>
            </tr> 
        }
        </tbody>
    </table>