@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Heineken</h1>
    
    <img src="https://w7.pngwing.com/pngs/733/579/png-transparent-heineken-hd-logo.png" style="width:100px" class="rounded float-left" alt="...">
    <img src="https://w7.pngwing.com/pngs/733/579/png-transparent-heineken-hd-logo.png" style="width:100px" class="rounded float-right" alt="...">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
